body{
  background: lightblue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: url('../images/platzi.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  flex-direction: column;
}